{{> header }}
<div class="container-fluid">
    <h1>Bienvenido, {{session.usuario.apellido}} {{session.usuario.nombre}}</h1>
    <div class="row center-xs" >
        {{#noticias}}
            <div class="col-sm" style="margin-top:20px">
                <div class="card" style="width: 20rem; height: 25rem;">
                    <img class="card-img-top" src="{{image_path}}" alt="{{titulo}}" style="min-height:212px">
                    <div class="card-body" style="width: 14rem; height: 160px; overflow:hidden">
                        <h5 class="card-title">{{titulo}}</h5>
                        <p class="card-text" style="width: 15rem; height: 66px; overflow:hidden">{{contenido}}</p>
                        <a href="/noticias/{{id}}" class="btn btn-primary">ver noticia</a>
                    </div> 
                </div>
            </div>
        {{/noticias}}
    </div>
</div>

{{> footer }}

