{{> header }}
<h1 class="text-center">Infonete</h1>
<div class="container-fluid" style="margin-bottom: 70px;">
    {{#noticias}}
        <div class="card mb-3">
            {{#image_path}}
            <img class="card-img-top" src="{{image_path}}" alt="{{titulo}}" style="min-width: 100%; max-height: 20rem; object-fit: cover;">
            {{/image_path}}
            <div class="card-body">
                <h5 class="card-title">{{titulo}}</h5>
                <p class="card-text">{{contenido}}</p>
                <p class="card-text"><a href="/noticias/{{id}}" class="btn btn-primary">ver noticia</a></p>
            </div>
        </div>
    {{/noticias}}
</div>


{{> footer }}


