<form action="registro/usuario" method="post">
    <label for="nombre">Nombre:
    <input type="text" name="nombre" id="nombre"></label>

    <label for="password">Password:
    <input type="password" name="password" id="password"></label>
    <button type="submit">Enviar formulario</button>
</form>